[Desktop Entry]

Name=KolourPaint
Name[nb]=KPaint
Name[ne]=रङ पेन्ट
Name[pa]=ਕੇ-ਰੰਗ-ਪੇਂਟ
Name[sv]=Kolourpaint
Name[ta]=நிற பெயின்ட் 
Name[zh_TW]=KolourPaint 小畫家
GenericName=Paint Program
GenericName[af]=Verf Program
GenericName[ar]=برنامج تلوين
GenericName[bg]=Графичен редактор
GenericName[br]=Goulev tresañ
GenericName[bs]=Jednostavni program za crtanje
GenericName[ca]=Programa de pintura
GenericName[cs]=Kreslící program
GenericName[cy]=Rhaglen Peintio
GenericName[da]=Maleprogram
GenericName[de]=Mal- und Zeichenprogramm
GenericName[el]=Πρόγραμμα ζωγραφικής
GenericName[eo]=Pentrilo
GenericName[es]=Programa de pintura
GenericName[et]=Joonistusprogramm
GenericName[eu]=Marrazteko programa
GenericName[fa]=برنامۀ رنگ
GenericName[fi]=Piirto-ohjelma
GenericName[fr]=Petit programme de dessin
GenericName[ga]=Clár Péinteála
GenericName[gl]=Programa de debuxo
GenericName[he]=תוכנית ציור
GenericName[hi]=छवि बनाने का प्रोग्राम
GenericName[hr]=Program za slikanje
GenericName[hu]=Rajzolóprogram
GenericName[is]=Teikniforrit
GenericName[it]=Programma di disegno
GenericName[ja]=ペイントプログラム
GenericName[kk]=Сурет салу бағдарламасы
GenericName[km]=កម្មវិធី​គូរ
GenericName[lt]=Piešimo programa
GenericName[lv]=Krāsošanas Programma
GenericName[ms]=Program Mewarna
GenericName[mt]=Programm sempliċi tat-tpinġija
GenericName[nb]=Maleprogram
GenericName[nds]=Maalprogramm
GenericName[ne]=पेन्ट कार्यक्रम
GenericName[nl]=Tekenprogramma
GenericName[nn]=Måleprogram
GenericName[nso]=Lenaneo la Paint
GenericName[pa]=ਰੰਗ ਕਾਰਜ
GenericName[pl]=Program Paint
GenericName[pt]=Programa de Pintura
GenericName[pt_BR]=Programa de Pintura
GenericName[ro]=Program de desenare
GenericName[ru]=Графический редактор
GenericName[rw]=Porogaramu Gusiga irangi
GenericName[se]=Málenprográmma
GenericName[sk]=Kreslenie
GenericName[sl]=Slikarski program
GenericName[sr]=Програм за сликање
GenericName[sr@Latn]=Program za slikanje
GenericName[sv]=Ritprogram
GenericName[ta]=பெயிண்ட் நிரலி
GenericName[tg]=Муҳаррири графикӣ
GenericName[th]=โปรแกรมวาดภาพธรรมดาๆ
GenericName[tr]=Boyama Programı
GenericName[uk]=Програма для малювання
GenericName[uz]=Chizish dasturi
GenericName[uz@cyrillic]=Чизиш дастури
GenericName[ven]=Mbekanyamushumo ya Pennde
GenericName[wa]=Program di dessinaedje
GenericName[xh]=Udweliso lwenkqubo lwepeyinti
GenericName[zh_CN]=绘图程序
GenericName[zh_HK]=繪圖程式
GenericName[zh_TW]=繪圖程式
GenericName[zu]=Elila Iprogremu Kapende
Icon=kolourpaint

Type=Application
Exec=kolourpaint %u
DocPath=kolourpaint/index.html

# SYNC: Run branches/kolourpaint/control/scripts/gen_mimetype_line.sh in
#       the version of kdelibs/kimgio/ (e.g. KDE 3.5) KolourPaint is
#       shipped with.
MimeType=image/fax-g3;image/gif;image/jp2;image/jpeg;image/png;image/tiff;image/x-bmp;image/x-dds;image/x-eps;image/x-exr;image/x-hdr;image/x-ico;image/x-pcx;image/x-portable-bitmap;image/x-portable-greymap;image/x-portable-pixmap;image/x-rgb;image/x-targa;image/x-vnd.adobe.photoshop;image/x-xbm;image/x-xcf-gimp;image/x-xpm;video/x-mng;

Categories=Qt;KDE;Graphics;
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi

