[Desktop Entry]

Name=KolourPaint
Name[ca]=KolourPaint
Name[cs]=KolourPaint
Name[es]=KolourPaint
Name[kk]=KolourPaint
Name[nds]=KolourPaint
Name[nl]=KolourPaint
Name[pt]=KolourPaint
Name[pt_BR]=KolourPaint
Name[ru]=KolourPaint
Name[sv]=Kolourpaint
Name[uk]=KolourPaint
Name[x-test]=xxKolourPaintxx
Name[zh_TW]=小畫家_KolourPaint
GenericName=Paint Program
GenericName[ca]=Programa de pintura
GenericName[cs]=Program pro malování
GenericName[es]=Programa de pintura
GenericName[kk]=Сурет салу бағдарламасы
GenericName[nds]=Maalprogramm
GenericName[nl]=Tekenprogramma
GenericName[pt]=Programa de Pintura
GenericName[pt_BR]=Programa de desenho
GenericName[ru]=Простой редактор изображений
GenericName[sv]=Ritprogram
GenericName[uk]=Програма для малювання
GenericName[x-test]=xxPaint Programxx
GenericName[zh_TW]=繪圖程式
Icon=kolourpaint

Type=Application
Exec=kolourpaint %u
X-DocPath=kolourpaint/index.html

# SYNC: Run branches/kolourpaint/control/scripts/kde4port/gen_mimetype_line.sh in
#       the version of kdelibs/kimgio/ (e.g. KDE 4.0) KolourPaint is
#       shipped with.
MimeType=image/bmp;image/gif;image/jpeg;image/jpeg2000;image/png;image/tiff;image/x-dds;image/x-eps;image/x-exr;image/x-hdr;image/x-ico;image/x-pcx;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-rgb;image/x-tga;image/x-xbitmap;image/x-xcf;image/x-xpixmap;video/x-mng;

Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
Terminal=false
