[Desktop Entry]
Encoding=UTF-8

Name=KolourPaint
Name[x-test]=xxKolourPaintxx
GenericName=Paint Program
GenericName[fr]=Petit programme de dessin
GenericName[x-test]=xxPaint Programxx
Icon=kolourpaint

Type=Application
Exec=kolourpaint %u
DocPath=kolourpaint/index.html

MimeType=image/fax-g3;image/gif;image/jp2;image/jpeg;image/png;image/tiff;image/x-bmp;image/x-dds;image/x-eps;image/x-exr;image/x-ico;image/x-pcx;image/x-portable-bitmap;image/x-portable-greymap;image/x-portable-pixmap;image/x-psd;image/x-rgb;image/x-targa;image/x-xbm;image/x-xcf-gimp;image/x-xpm

Categories=Qt;KDE;Graphics;
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi

